# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Data files (optional, but good practice if they are large)
*.csv